<p id="notice"><%= notice %></p>

<p>
  <strong>Bank name:</strong>
  <%= @supplier_bank_detail.bank_name %>
</p>

<p>
  <strong>Bank address:</strong>
  <%= @supplier_bank_detail.bank_address %>
</p>

<p>
  <strong>Ifsc code:</strong>
  <%= @supplier_bank_detail.ifsc_code %>
</p>

<p>
  <strong>Note:</strong>
  <%= @supplier_bank_detail.note %>
</p>

<%= link_to 'Edit', edit_supplier_bank_detail_path(@supplier_bank_detail) %> |
<%= link_to 'Back', supplier_bank_details_path %>
