<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @supplier.company_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @supplier.zip_code %>
</p>

<p>
  <strong>State:</strong>
  <%= @supplier.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @supplier.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Telephone no:</strong>
  <%= @supplier.telephone_no %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @supplier.mobile_number %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @supplier.comment %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
